<!DOCTYPE html>

<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <meta charset="utf-8" />
        <title>Balderdash client</title>

        <link rel="stylesheet" href="css/web-client.css" />
    
    </head>
    <body>
        <script type="text/javascript" src="scripts/jquery-2.1.3.min.js"></script>
        <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.2.26/angular.min.js"></script>
        <script type="text/javascript" src="scripts/jquery.signalR-2.2.0.min.js"></script>
        <script type="text/javascript" src="client-connection.js"></script>

        


        <!--<div data-ng-app="" data-ng-controller="personController">
            <p>Name: <input type="text" data-ng-model="name"></p>
            <p data-ng-bind="name"></p>
        </div>-->


        <div data-ng-app="app" data-ng-controller="signalrController">
            <input type="button" name="Logon" value="Log on" data-ng-click="logon()" />
            </br>
            <input type="button" name="StartGame" value="Start Game" data-ng-click="startGame()" />
            </br>
            <span>{{text}}</span>
        </div>

        <script>
            

            function personController($scope) {
                $scope.name = "Test";
            }

           

           


        </script>


        
    </body>
</html>